* {
  cursor: default;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  user-select: none;
}

button, button:active {
  border-style: none;
  font-size: larger;
  background-color: grey;
  color: white;
  border-radius: 7px;
  padding: 10px 20px;
}

button:active {
  background-color: dimgray;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-bottom: 5px;
  text-align: center;
}

h1 {
  text-align: center;
}

input {
    height: 40px;
    font-size: 3em;
    width: 1.66em;
    font-family: monospace;
    border: 0;
}

p, div {
  text-align: center;
}

#count-down-control {
  margin-top: 15px;
}

#stand-up-logo {
  display: block;
  margin: 0 auto;
  max-width: 300px;
}

@media (prefers-color-scheme: dark) {
  body, input {
    background-color: #000;
  }
  body, h1, input, p, span {
    color: #fff;
  }
}